
@media ( max-width: 770px ) {

/*----------------------------------------------   section 1   --------------------------------------------------*/

.s1-big-box { justify-content: space-between; }

.s1-box1 { flex-direction: column;
           margin-left: 20px; }

.s1-big-box1 { max-width: 260px;
               width: 100%;
               margin: 30% auto; }

.s1-big-box1 a { max-width: 280px;
	             width: 100%; }

.s1-h1 { font-size: 42px;
         max-width: 280px;
         width: 100%; }

.s1-p1 { margin-left: 0;
	     width: 260px;
         font-size: 20px; }

.s1-box3 { width: 200px; }

/*----------------------------------------------   section 2   --------------------------------------------------*/

.s2,
.section-2 { min-height: 750px;
             height: 100%;
             display: flex; }

.s2-h2 { font-size: 35px;
         display: flex;
         justify-content: center; }

.s2-p { width: 485px;
        min-height: 25px;
        height: 100%;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 20px; }

.s2-big-box1 { flex-direction: row;
               justify-content: space-evenly;
	       min-height: 500px;
	       max-height: 1300px;
	       height: 100%; }

.s2-mini-box,
.s2-mini-box1 { flex-direction: column;
                height: 600px;
                width: 200px; }
.s2-box1,
.s2-box2,
.s2-box3,
.s2-box4,
.s2-box5,
.s2-box6 { margin-top: 30px; }

.s2-box6 { margin-bottom: 20px; }

/*----------------------------------------------   section 3   --------------------------------------------------*/


.s3-big-box { max-width: 520px;
              width: 100%;
              margin-left: 0;
              align-items: center; }

.s3-h2:nth-child(1),
.s3-h2:nth-child(2) { max-width: 475px;
                      width: 100%; }








}