@media ( max-width: 1480px ) { 

        .s7-box2in1 { -ms-flex-pack: distribute; justify-content: space-around; }
        .s7-box1,
        .s7-box2,
        .s7-box3,
        .s7-box4 { width: 280px;
                   height: 270px; }
        .s7-box4 p { line-height: 20px; }


        .s9-box2 { margin-left: 30px; }

 }
/*---------------------------------------------------------------------------------------------------------------*/



@media ( max-width: 1280px ) {

/*----------------------------------------------   section 1   --------------------------------------------------*/

    .s1-img img,
    .s1-img { width: 150px;
              height: 100px; }
    .s1-box2 { width: 80px;
               height: 280px;
               -webkit-box-orient: vertical;
               -webkit-box-direction: normal;
                   -ms-flex-direction: column;
                       flex-direction: column;
               -webkit-box-pack: center;
                   -ms-flex-pack: center;
                       justify-content: center;
               -webkit-box-pack: space-evenly;
                   -ms-flex-pack: space-evenly;
                       justify-content: space-evenly; }
    .fa-magnifying-glass,
    .fa-user,
    .fa-bag-shopping { margin-left: 0; }

/*----------------------------------------------   section 2   --------------------------------------------------*/

    .s2-box3 { width: 106px;
               height: 156px;
               -webkit-box-shadow: none;
                       box-shadow: none; }
    .s2-big-box1 { margin: 10% auto; }

/*----------------------------------------------   section 4   --------------------------------------------------*/

.s4-mini-box1,
.s4-mini-box2,
.s4-mini-box3 { width: 300px;
                height: 537px; }

.s4-img { width: 300px;
          height: 250px; }

.s4-p1 { width: 250px;
         height: 40px; }

.s4-mini-box4 { margin: 30px auto; }

/*----------------------------------------------   section 6   --------------------------------------------------*/

.s6-big-box { -ms-flex-wrap: wrap; flex-wrap: wrap;
              -webkit-box-pack: center;
                  -ms-flex-pack: center;
                      justify-content: center;
              margin-top: 100px; }

.s6-big-box p { margin-top: 30px; }

.s6-box { margin-top: 30px; }

.s6-h4 { margin-top: 100px; }

/*----------------------------------------------   section 7   --------------------------------------------------*/

.section-7 { height: 750px; }

.s7 { height: 750px;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-line-pack: center;
          align-content: center; }

.s7-box2in1 { max-width: 1510px;
              width: 100%;
              -webkit-box-pack: space-evenly;
                  -ms-flex-pack: space-evenly;
                      justify-content: space-evenly; }

/*----------------------------------------------   section 9   --------------------------------------------------*/

.s9-box1 { margin-left: 15px; }

.s9-mini-box { -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; }
.s9-img-box,
.s9-img-box1,
.s9-img-box2 { width: 320px; }               }
.s9-p1,
.s9-p2,
.s9-line1,
.s9-box2 h3 { margin-left: 5%; }





 }