
@media ( max-width: 480px ) {

/*----------------------------------------------   section 1   --------------------------------------------------*/

.s1-big-box { justify-content: space-between; }

.s1-box1 { flex-direction: column;
           margin-left: 20px; }

.s1-big-box1 { max-width: 260px;
               width: 100%;
               margin-top: 30%; }

.s1-big-box1 a { max-width: 280px;
	             width: 100%; }

.s1-h1 { font-size: 42px;
         max-width: 280px;
         width: 100%; }

.s1-p1 { margin-left: 0;
	     width: 260px;
         font-size: 20px; }

.s1-box3 { width: 200px; }

/*----------------------------------------------   section 2   --------------------------------------------------*/

.s2,
.section-2 { min-height: 750px;
             height: 100%;
             display: flex; }

.s2-h2 { font-size: 35px;
         display: flex;
         justify-content: center; }

.s2-p { width: 280px;
        min-height: 25px;
        height: 100%;
        font-size: 15px;
        padding-left: 20px;
        padding-right: 20px;
        line-height: 20px; }

.s2-big-box1 { flex-direction: column;
	           min-height: 500px;
	           max-height: 1300px;
	           height: 100%; }

.s2-mini-box,
.s2-mini-box1 { flex-direction: column;
                height: 600px; }
.s2-box1,
.s2-box2,
.s2-box3,
.s2-box4,
.s2-box5,
.s2-box6 { margin-top: 30px; }

.s2-box6 { margin-bottom: 20px; }

/*----------------------------------------------   section 3   --------------------------------------------------*/


.s3-box1,
.s3-box1 img { width: 295px;
               height: 295px;
               margin-left: 0; }

.s3-big-box { max-width: 520px;
              width: 100%;
              margin-left: 0;
              align-items: center; }

.s3-h2:nth-child(1),
.s3-h2:nth-child(2) { max-width: 320px;
                      width: 100%; }

.s3-box2 { max-width: 320px;
	       width: 100%;
	       font-size: 28px; }

.s3-box3 { max-width: 320px;
           width: 100%;
           margin-left: 0;
           margin-top: 50px; }

/*----------------------------------------------   section 3   --------------------------------------------------*/

.s4-h3 { font-size: 30px;
         width: 280px;
         height: 100%; }

.s4-p { width: 250px; }

.s4-mini-box1,
.s4-mini-box2,
.s4-mini-box3 { max-width: 305px;
                width: 100%; }

.s4-img { max-width: 300px;
          width: 100%; }

.s4-mini-box-text { max-width: 300px;
                    width: 100%; }

.s4-big-box { width: 280px; }

/*----------------------------------------------   section 5   --------------------------------------------------*/

.s5-h3 { font-size: 45px; }

.s5-p { font-size: 20px; }

.s5-mini-box { width: 50px; }

.s5-mini-box1,
.s5-mini-box2,
.s5-mini-box3,
.s5-mini-box4 { width: 50px;
                height: 50px; }

.s5-mini-box1 p,
.s5-mini-box2 p,
.s5-mini-box3 p,
.s5-mini-box4 p { width: 35px;
                  height: 30p;
                  font-size: 25px; }

.s5-big-box { width: 310px;
              margin: 25% auto;}

/*----------------------------------------------   section 6   --------------------------------------------------*/

.s6-big-box { width: 100%;
              height: initial;
              margin-top: 50px; }

.s6-h4 { width: 280px;
         height: 75px;
         margin-top: 80px; }

.s6-p { width: 280px;
        height: 60px; } 

.s6-box { min-width: 0; }


/*----------------------------------------------   section 7   --------------------------------------------------*/

.s7,
.section-7 { height: 100%; }

.s7-box2in1 { flex-direction: column;
              align-items: center;
              margin-top: 20px;
              margin-bottom: 20px; }

.s7-box2,
.s7-box4 { margin-top: 30px; }

.s7-box1,
.s7-box2,
.s7-box3,
.s7-box4 { width: 280px;
           height: 270px;; }

/*----------------------------------------------   section 8   --------------------------------------------------*/

.s8-box { max-width: 358px;
          width: 100%;
          height: 470px; }

.s8-box h2 { width: 250px;
             font-size: 35px; }

.s8-time { max-width: 280px;
           width: 100%;
           height: 100%;
           justify-content: space-around; }

.p1 { display: none; }

.p2 { display: block;
      width: 175px;
      height: 100%; }

.s8-soc { max-width: 358px;
          width: 100%;
          justify-content: space-evenly; }

.s8-location { max-width: 280px;
               width: 100%;
               justify-content: space-around; }

.s8-box h2 { margin: 23px auto; }

.s8-a { margin: 0 auto; }

/*----------------------------------------------   section 9   --------------------------------------------------*/

.s9-box1 p { min-width: 0;
             height: 200px; }

.s9-box3 { height: 450px; }

.s9-mini-box { flex-wrap: wrap; }

.s9-img-box { margin-right: 0;
              height: 100%;
              flex-direction: row;
              justify-content: space-evenly; }


.s9-img-box1,
.s9-img-box2 { flex-direction: column;
                align-items: center;
                width: 101px;
                height: 100%; }

.s9-img-box2 { margin-top: 0; }

.s9-cards { max-width: 351px;
            width: 100%;
            height: 105px;
            flex-direction: column; }

.s9-card-box { justify-content: space-around; }

.s9-p { width: 220px;
        font-size: 10px; }




}